         
         /* INFO GENERICHE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 80vw;
    margin: auto;
}

header>h1{
    text-align: center;
    margin: 40px 0 80px;
}

main h2{
    margin-top: 30px;
}

.light-grey{
    background-color: rgb(255, 242, 242);
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: .5px .5px 5px 5px rgb(252, 216, 222) inset;
}

.fixed-height{
    height: 150px;
}

.quadrato{
    width: 100px;
    height: 100px;
}

.quadrato.bg{
    background-color: teal;
} 

.quadrato,
.img-trans{
    transition: all 2s ease 0s;
}

.large{
    width: 800px;
}


            /* INFO SPECIFICHE */


#sfumato-hover{
    border: 2px solid teal;
}

#sfumato-hover:hover{
    background-color: teal;
}   

#rettangolo-click:active{
    width: 100%;
}

#cerchio-hover:hover{
    border-radius: 100%;
}

#no-bg-hover:hover{
    opacity: 0;
}

#small-big{
    width: 50px;
    height: 50px;
}

#small-big:hover{
    width: 100px;
    height: 100px;
}

#small-big:active{
    width: 50px;
    height: 50px;
}

#bw-plane:hover{
    filter: grayscale(1);
}

#plane-two:hover{
    filter: hue-rotate(90deg) saturate(.5);
}

#sunset-1:hover{
    border-radius: 10%;
    filter: grayscale(.5) saturate(.5);
}

#sunset-2{
    width: 500px;
}

#sunset-2:hover{
    width: 800px;
    border-radius: 10%;
    filter: grayscale(.5) hue-rotate(60deg);
}

.loading{
    font-size: 50px;
    color: black;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: spinALittleBit 2s linear;





